<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="http://ga.co" class="navbar-item"><img alt="Brand" src="./images/GA_logo.png" class="headerLogo"></a>
        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <p class="navbar-text gaDisplayFont">React To-Do Demo</p>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">Task Manager</h1>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-medium" type="text" placeholder="Name">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input is-success is-medium" type="email" placeholder="Email" value="alex@smith.com">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <button type="submit" class="button is-dark is-medium">Add Task</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <div class="container">
      <section class="section">
        <div class="columns">
          <div class="column">
            <nav class="panel">
              <h3 class="panel-heading is-3">Open Items</h3>
              <label class="panel-block">
                <input type="checkbox">
                <strong>Cras </strong> justo odio
              </label>
                <label class="panel-block">
                <input type="checkbox">
                <strong>Cras</strong> justo odio
              </label>
            </nav>
          </div>
          <div class="column">
            <nav class="panel">
              <h3 class="panel-heading is-3">Completed Items</h3>
              <label class="panel-block">
                <input type="checkbox">
                <span><strong>Cras</strong> justsdfso odio</span>
                <span class="icon is-small">
                  <i class="fa fa-times"></i>
                </span>
              </label>

            </nav>
          </div>
          <div class="column">
            <nav class="panel">
              <h3 class="panel-heading is-3">Deleted Items</h3>
              <label class="panel-block">
                <input type="checkbox">
                <strong>Cras</strong>    l justo odio
              </label>
                <label class="panel-block">
                <input type="checkbox">
                <strong>Cras</strong> justo odio
              </label>
            </nav>
          </div>
        </div>
      </section>
    </div>
    <nav class="navbar is-light is-fixed-bottom">
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://generalassemb.ly/instructors/jason-seminara/6831">Jason Seminara</a> in 2016—2017 for <span class="gaLogo"></span> in New York City.</p>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
